body {
  width: 375px;
  height: 500px;
  border:2px solid black;
}
#mainContainer {
  margin:auto 10px;
  overflow-x:hidden;
  clear:both;
  background-color:red;
}
.square {
  width:46px;
  height:46px;
  border:2px solid black;
  float:left;
}